name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "4.0"
            gemfile: Gemfile
          - ruby: 3.4
            gemfile: gemfiles/activerecord80.gemfile
          - ruby: 3.3
            gemfile: gemfiles/activerecord72.gemfile
          - ruby: 3.2
            gemfile: gemfiles/activerecord71.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake test
